[Desktop Entry]
Name=Cinelerra GG
GenericName=Cinelerra GG
Comment=A video software
Keywords=video;audio;
Exec=/opt/cinelerra/cinelerra.AppImage
Type=Application
Icon=/opt/cinelerra/cinelerra.png
Categories=Application;Audio;AudioVideo;
Terminal=false
Hidden=false
StartupNotify=false
